<?xml version="1.0"?>
<launch>
  <!-- launch the camera -->
  <include file="$(find camera_aravis)/launch/simple_camera.launch"/>

  <!-- rectify the image -->
  <group ns="camera" >
    <node pkg="image_proc" type="image_proc" name="img_proc" output="screen">
      <remap from="image_raw" to="image"/>
    </node>
  </group>

  <!-- TODO: launch the people detector
  <node pkg="openpose_ros" type="openpose_ros_node" name="people_detector" output="screen">
    <param name="display_output"           value="True" />
    <remap from="/camera/image_raw"        to="/camera/image" />
    <remap from="/openpose_ros/human_list" to="/people" />
  </node>
  -->

  <!-- Launch the door state and people at door detectors that give the people counter the data it needs -->
  <node pkg="people_counter" type="person_at_door_detector" name="person_at_door_detector" output="screen" />
  <node pkg="people_counter" type="door_state_detector"     name="door_state_detector"     output="screen">
    <param name="angle_min" value="0.22" />
    <param name="angle_max" value="0.55" />
    <remap from="scan" to="/laser/scan" />
  </node>

  <!-- Launch the actual people counter, for counting the number of people in the room -->
  <node pkg="people_counter" type="people_counter"          name="people_counter"          output="screen" />

  <!-- Launch the lidar with a nice output filter -->
  <!-- TODO: this is disabled for now, spits out lots of erros when disconnected
  <include file="$(find people_counter)/launch/hokuyo_driver.launch"/>
  -->
</launch>
