<?xml version="1.0"?>
<launch>
  <!-- TODO: Create bag file parameter -->

  <!-- TODO: Launch the recording -->

  <!-- TODO: Launch the door state detector -->

  <!-- TODO: Launch the people at door detector -->

  <!-- TODO: Launch the people detector -->

  <!-- TODO: Launch rviz -->

  <!-- TODO: Launch reconfigure GUI -->
</launch>
